AppCSharp2017/WebAtSmartVideo/Connected Services/ServiceReference/SmartWcf2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FilmsDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FilmsDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFilmDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilmDTO" nillable="true" type="tns:FilmDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilmDTO" nillable="true" type="tns:ArrayOfFilmDTO" />
  <xs:complexType name="FilmDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OriginalTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PosterPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Runtime" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilmDTO" nillable="true" type="tns:FilmDTO" />
  <xs:complexType name="ArrayOfActorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActorDTO" nillable="true" type="tns:ActorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActorDTO" nillable="true" type="tns:ArrayOfActorDTO" />
  <xs:complexType name="ActorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Character" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActorDTO" nillable="true" type="tns:ActorDTO" />
</xs:schema>