AppCSharp2017/SmartWCFWindowService/Connected Services/ServiceReference/SmartWcf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmartWcf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52438/SmartWcf.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52438/SmartWcf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52438/SmartWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FilmsDTO" />
      <xsd:import schemaLocation="http://localhost:52438/SmartWcf.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SmartWCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmartWcf_getFilmList_InputMessage">
    <wsdl:part name="parameters" element="tns:getFilmList" />
  </wsdl:message>
  <wsdl:message name="ISmartWcf_getFilmList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFilmListResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWcf_CountFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:CountFilm" />
  </wsdl:message>
  <wsdl:message name="ISmartWcf_CountFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountFilmResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWcf_UpdateFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFilm" />
  </wsdl:message>
  <wsdl:message name="ISmartWcf_UpdateFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFilmResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWcf_RefreshFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshFilm" />
  </wsdl:message>
  <wsdl:message name="ISmartWcf_RefreshFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshFilmResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWcf_GetFilmDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmDetails" />
  </wsdl:message>
  <wsdl:message name="ISmartWcf_GetFilmDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWcf_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ISmartWcf_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWcf_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ISmartWcf_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="ISmartWcf">
    <wsdl:operation name="getFilmList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWcf/getFilmList" message="tns:ISmartWcf_getFilmList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWcf/getFilmListResponse" message="tns:ISmartWcf_getFilmList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWcf/CountFilm" message="tns:ISmartWcf_CountFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWcf/CountFilmResponse" message="tns:ISmartWcf_CountFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWcf/UpdateFilm" message="tns:ISmartWcf_UpdateFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWcf/UpdateFilmResponse" message="tns:ISmartWcf_UpdateFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWcf/RefreshFilm" message="tns:ISmartWcf_RefreshFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWcf/RefreshFilmResponse" message="tns:ISmartWcf_RefreshFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilmDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWcf/GetFilmDetails" message="tns:ISmartWcf_GetFilmDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWcf/GetFilmDetailsResponse" message="tns:ISmartWcf_GetFilmDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWcf/GetData" message="tns:ISmartWcf_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWcf/GetDataResponse" message="tns:ISmartWcf_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWcf/GetDataUsingDataContract" message="tns:ISmartWcf_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWcf/GetDataUsingDataContractResponse" message="tns:ISmartWcf_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISmartWcf" type="tns:ISmartWcf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getFilmList">
      <soap:operation soapAction="http://tempuri.org/ISmartWcf/getFilmList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountFilm">
      <soap:operation soapAction="http://tempuri.org/ISmartWcf/CountFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFilm">
      <soap:operation soapAction="http://tempuri.org/ISmartWcf/UpdateFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshFilm">
      <soap:operation soapAction="http://tempuri.org/ISmartWcf/RefreshFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilmDetails">
      <soap:operation soapAction="http://tempuri.org/ISmartWcf/GetFilmDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ISmartWcf/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ISmartWcf/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartWcf">
    <wsdl:port name="BasicHttpBinding_ISmartWcf" binding="tns:BasicHttpBinding_ISmartWcf">
      <soap:address location="http://localhost:52438/SmartWcf.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>