AppCSharp2017/SmartWCFWindowService/Connected Services/ServiceReference/SmartWcf3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52438/SmartWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FilmsDTO" />
  <xs:import schemaLocation="http://localhost:52438/SmartWcf.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SmartWCFService" />
  <xs:element name="getFilmList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="nbr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFilmListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FilmsDTO" minOccurs="0" name="getFilmListResult" nillable="true" type="q1:ArrayOfFilmDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountFilm">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountFilmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountFilmResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFilm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFilm" type="xs:int" />
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFilmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFilmResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshFilm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFilm" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshFilmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FilmsDTO" minOccurs="0" name="RefreshFilmResult" nillable="true" type="q2:FilmDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilmDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idfilm" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilmDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FilmsDTO" minOccurs="0" name="GetFilmDetailsResult" nillable="true" type="q3:FilmDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmartWCFService" minOccurs="0" name="composite" nillable="true" type="q4:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmartWCFService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q5:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>